body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

h2 {
  color: whitesmoke;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: none;
  border-spacing: 0;
}

.grid td {
  width: 25px;
  height: 25px;
  background-image: url(../public/grass_3.png);
  background-size: contain;
  border: 2px solid #e4dace;
  border-radius: 10px;
}

.grid td:hover {
  background: #695858;
}

.grid td.mine {
  background-color: rgb(209, 23, 23);
}

.grid td.empty {
  background: #46a7ba;
  background-image: url(../public/mountain_1.webp);
  background-size: cover;
  pointer-events: none;
}

.grid td.flag {
  background: #d4d4d4;
  pointer-events: none;
}

.lose-container {
  height: 400px;
}

button {
  color: #ededed;
  margin: 3rem auto;
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  background-color: #626262a8;
  border: 1px solid white;
  border-radius: 20px;
  padding: 2rem;
}

.readme h2 {
  color: #ededed;
}

.last-try {
  color: black;
}

/* Borders */

[data-top="borderless-top"] {
  border-top: transparent !important;
  border-radius: 0 !important;
}

[data-right="borderless-right"] {
  border-right: transparent !important;
  border-radius: 0 !important;
}

[data-left="borderless-left"] {
  border-left: transparent !important;
  border-radius: 0 !important;
}

[data-bottom="borderless-bottom"] {
  border-bottom: transparent !important;
  border-radius: 0 !important;
}

/* Mountains */

[data-isolated="true"] {
  background-image: none !important;
  background-color: rgb(127, 127, 127) !important;
  border: transparent !important;
  border-radius: 0px !important;
}
